<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="/assets/css/style.css">
		<title>{{ title }}</title>
	</head>
	<body>
		<main>
			<header>
				<h1 id="tohru">Tohru</h1>
				<h3>{{ subtitle }}</h3>
			</header>
			<div>
			</div>
		</main>
	</body>
	{{!--<script type="text/javascript" src="/assets/js/script.js"></script>--}}
</html>