<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		<link rel="stylesheet" href="/assets/css/style.css">
		<title>{{ title }}</title>
	</head>
	<body>
		<main>
			<header>
				<h1 id="tohru">Tohru</h1>
				<h3>{{ subtitle }}</h3>
			</header>
			<section>
				<p id="alert">
					Have an illegal and/or copyrighted file to report? Please email by clicking here<br>
					Still alive, don't worry. Not that you care anyways<br>
					There is a tracker now, TCP or UDP at tracker.cuntflaps.me:6969
				</p>
			</section>
			<footer>
				<ul>
					<li>
						<a href="/">tohru</a>
					</li>
					<li>
						<a href="/faq">faq</a>
					</li>
					<li>
						<a href="/paste">paste</a>
					</li>
					<li>
						<a href="/kobayashi">kobayashi</a>
					</li>
					<li>
						<a href="https://www.github.com/iCrawl/tohru">github</a>
					</li>
					<li>
						<a href="/transparency">transparency</a>
					</li>
					<li>
						<a href="/blog">blog</a>
					</li>
				</ul>
			</footer>
		</main>
	</body>
	{{!--<script type="text/javascript" src="/assets/js/script.js"></script>--}}
</html>